.thank-you-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #1589ee;
    font-size: 3rem;
  }
  
  p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  